header {
  height: 50px;
  padding: 10px 20px;
  background: lightgrey;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  h4 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
