<div class="component-wrapper">
  <div class="wistia-video-uploader-wrapper" *ngIf="!isVideoUploaded && !uploadedVideoUrl">
    <div>
      <div class="upload-button-wrapper" *ngIf="!isUploadingVideo">
        <form id="file-form">
          <input id="file-upload" type="file">
          <label for="file-upload" class="upload-button">
            Choose file to Upload
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          </label>
        </form>
      </div>
      <div class="progress" *ngIf="isUploadingVideo && videoUploadProgress">
        <div class="bar" [style.width]="getUploadProgress() + '%'"></div>
      </div>
    </div>
  </div>
  <div *ngIf="isVideoUploaded && uploadedVideoUrl" class="video-player-wrapper">
    <iframe [src]="uploadedVideoUrl | trustedUrl"
            allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
            name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen
            oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
    <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
  </div>
</div>
